<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="ContentSearch.ParallelIndexing.Enabled" value="false" />
    </settings>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <fieldType fieldName="Page Heading"                storageType="YES"  indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <fieldType fieldName="Page Summary"                storageType="YES"  indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <!--<fieldType fieldName="Summary Image"                storageType="YES"  indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />-->
              <fieldType fieldName="summaryimagecomputed"            storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </fieldType>
              <fieldType fieldName="computedholidayname"            storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </fieldType>
            </fieldNames>
          </fieldMap>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="summaryimagecomputed"             storageType="yes"  indexType="untokenized">Training.Utilities.BaseCore.Search.ComputedFieldRenderedImage,Training.Utilities</field>
            <field fieldName="summarycomputed"             storageType="yes"  indexType="untokenized">Training.Utilities.BaseCore.Search.ComputedFieldRenderedText,Training.Utilities</field>
            <field fieldName="languagecomputed"             storageType="yes"  indexType="untokenized">Training.Utilities.BaseCore.Search.ComputedFieldLanguage,Training.Utilities</field>
            <field fieldName="urllink"><patch:delete /></field>
            <field fieldName="urllink"           storageType="yes"  indexType="untokenized">Training.Utilities.BaseCore.Search.ComputedFieldUrl,Training.Utilities</field>
            <field fieldName="computedholidayname"           storageType="yes"  indexType="untokenized">Training.Utilities.BaseCore.Search.ComputedHolidayName,Training.Utilities</field>          
          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>