<appSettings>

  <!-- BED -->
  <add key="TemplateNewsListing" value="{48540D51-A7BD-432B-9ECB-EFCFB5696715}"/>
  <!-- end BED -->
  <add key="SearchResultPageId" value="{2144B62C-BEAB-4649-920C-6124624AF1C4}"/>

  <!-- Users and Roles -->
  <add key="DomainTrainCore" value="extranet"/>
  <add key="UserTrainCoreBasicUser" value="Traincore Basic User"/>
  <add key="RoleTrainCoreHolidayBooker" value="Traincore Holiday Booker"/>


  <!-- Default Sitecore application settings -->
  <add key="EmailReminder.FromAddress" value="name@server.net" />
  <add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
  <add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />
</appSettings>