/* -- MAIN STYLES ------------------------------------- */
/*                                                      */
/*    Links, fonts, inline elements.                    */
/*                                                      */
/* ---------------------------------------------------- */

@font-face {
    font-family: 'bebas_neueregular';
    src: url('/css/fonts/bebasneue-webfont.eot');
    src: url('/css/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/bebasneue-webfont.ttf') format('truetype'),
         url('/css/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #FFF;
    color: #111C24;
}

body:lang(ja) {
    font-family: "Meiryo";
}


h1 {
    margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading
{
    font-family: bebas_neueregular, "Meiryo";
}

pre,
p {
    line-height: 24px;
}

pre
{
    margin: 0 0 20px 0;
}

a:link,
a:active,
a:visited {
    color: #C73318;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* All images should be 100% of container unless otherwise stated */

img.left {
    float: left;
    margin: 0 20px 20px 0;
}

img.right {
    float: right;
    margin: 0 0 20px 20px;
}

.pageImage {
    margin-bottom: 20px;
}

.breadcrumb{
    margin-bottom: 0;
    padding: 0 10px;
}

/* Tables --------------------------------------------- */

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

table th
{
    background: #ccc;
}

table td,
table th {
    border: 1px solid #ccc;
    padding: 10px;    
}

/* Button styles -------------------------------------- */

a.button {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    width: 100px;
    line-height: 30px;
    color: #000;
}

a.button.bookButton {
    font-size: 13px;
    line-height: 20px;
    width: auto;    
    float: right;
}

/* Misc page styles ----------------------------------- */

p.print{
    background: url("../img/print.png") top left no-repeat;
    line-height: 16px;
    padding-left: 20px;
    margin-top: 20px;
}

/* Itinerary ------------------------------------------ */

.itinerary {
    background: #efefef;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
}

.columnsInner .itinerary li {
    margin-left: 0;
    list-style-type: none;
}

/* -- WRAPPERS ---------------------------------------- */
/*                                                      */
/*    Full-width wrappers - backgrounds only.           */
/*                                                      */
/* ---------------------------------------------------- */

.wrapper {
    overflow: hidden;
    width: 100%;
}

#headerWrapper {
    position: relative;
    z-index: 100;
    border-top: 10px solid #ccc; 
}

#galleryWrapper {}

#widgetsWrapper {
    padding: 20px 0;
    background: url('/img/textures/light_toast.png');
}

#pageWrapper {
    position: relative;
    z-index: 0;
    background: #fff url('/img/page-background.jpg') left -1px repeat-x;
    margin: 0;
    padding: 20px 0;
    border-top: 2px solid #eee;
}

#footerWrapper {
    padding: 20px 0 0 0;
    background: #125687;
    color: #fff;
    text-shadow: 1px 1px 0px #111C24;
    filter: dropshadow(color=#111C24, offx=1, offy=1);   
}

    #footerWrapper a:link,
    #footerWrapper a:visited,
    #footerWrapper a:active
    {
        color: #fff;
    }

    #footerWrapper a:hover,
    #footerWrapper a:focus
    {
        color: #fff;
        text-decoration: none;
    }


#bottomWrapper {
    padding: 10px 0;
    background: #111C24;
    color: #fff;
}

/* Containers ----------------------------------------- */

.container {
    margin-bottom: 10px;
}

#bottomContainer,
#footerContainer,
#galleryContainer,
#widgetsContainer,
#headerContainer,
#pageContainer {
    margin-bottom: 0;
}

#headerContainer {
    position: relative;
    min-height: 114px;    
}

#footerContainer {
    padding-bottom: 20px;
}

/* Columns -------------------------------------------- */

#columnsWrapper {
    -webkit-border-radius: 10px;
    border-radius: 10px;    
    background: transparent;
}

#columnsWrapper img.large {
    width: 100%;
    height: auto;
}

/* Main body content styling -------------------------- */

.columnsInner ul li {
    list-style-type: disc;
    margin-left: 40px;
}

/* -- HEADER ------------------------------------------ */
/*                                                      */
/*    Navigation, logo, search bar.                     */
/*                                                      */
/* ---------------------------------------------------- */


/* login information ---------------------------------- */

.loginInfo{
    position:relative;
    float:right;
    top:45px;
}

/* Logo ----------------------------------------------- */

.logo {
    position: absolute;
    left: 0;
    top: 26px;
}

/* Navigation ----------------------------------------- */

/* Main */

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    float: left;
    margin-bottom: 0;
}

.navigation li,
.navigation li a {
    display: block;
    float: left;    
}

.navigation li {

    margin-bottom: 0;
    margin-left: 5px;
    padding-bottom: 9px;
}

.navigation li a {
    padding: 16px 10px 10px 10px;    
    text-decoration: none;
    font-weight: bold; 
    color: #111C24;
    /* background: #ccc;    
    text-shadow: 1px 1px 0px #FFF;
    filter: dropshadow(color=#FFF, offx=1, offy=1); */
}

.navigation li a:hover {
    padding-top: 18px;
}

.navigation li a.current {
    background: url("../img/current.png") center -5px no-repeat;
}

.navigation li input{
    margin-top:13px;
    display:inline;
}

.navigation li input.textbox{
    padding:10px;
}

/* Meta - Footer */

.metaNavigation {
    margin: 0;
}

.metaNavigation li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.metaNavigation li a {
    color: #fff;   
}

.metaNavigation li a:hover {
    text-shadow: 1px 1px 0px #111C24;
    filter: dropshadow(color=#111C24, offx=1, offy=1);      
}

/* -- SIDENAV ----------------------------------------- */
/*                                                      */
/*                                                      */
/*                                                      */
/* ---------------------------------------------------- */

ul.level0 {
    padding-left: 0;
}

ul.level0 li a,
ul.level0 li {
    display: block;
        
}

ul.level0 li {
    list-style-type: none;
    margin: 0 0 1px 0;
}

ul.level0 li a.selected,
ul.level0 li a:hover {
    background: #dddddd;
}

ul.level0 li a {
    background: #eee;
    padding: 5px; 
    color: #111C24;   
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);    
    text-decoration: none;
}

/* Meta - Header */

/* -- FOOTER ------------------------------------------ */
/*                                                      */
/*                                                      */
/*                                                      */
/* ---------------------------------------------------- */

#bottomWrapper {
    background: #111C24;
}

#bottomWrapper .pickLanguage,
#bottomWrapper .copyright {
    margin: 0;
    text-align: right;
}

#bottomWrapper .pickLanguage a {
    text-decoration: none;    
}

/* -- SECTION ITEM ------------------------------------ */
/*                                                      */
/*                                                      */
/*                                                      */
/* ---------------------------------------------------- */

.sectionItem {
    overflow: hidden;
    margin-bottom: 15px;
}

.sectionItem:last-child {
    border-bottom: none;
}

.sectionItem h2 a {
    text-decoration: none;
}

#columnsWrapper .sectionItem img {
    width: auto;
    float: left;
    width: 40%;
    height: auto;
    padding: 6px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 10px 20px 0;
}

/* -- Search ------------------------------------------ */
/*                                                      */
/*                                                      */
/*                                                      */
/* ---------------------------------------------------- */

.searchForm {
    padding: 10px 15px;
    background: #9FA4A6;
    color: #fff;
    margin: 0 0 20px 0;
    overflow: hidden;
}

.searchFormColumn {
    width: 50%;
    float: left;
    min-height: 50px;
}

.searchFormRow
{
    overflow: hidden;
    padding: 0 0 10px 0;
    text-shadow: 1px 1px 0px #111C24;
    filter: dropshadow(color=#111C24, offx=1, offy=1);   
}

.searchForm input,
.searchForm select
{
    margin-bottom: 10px;
}


.searchPagination {
    display: inline-block;
    padding: 5px 10px;
    background: #C73318;
    text-decoration: none;
    margin-right: 1px;
}

span.searchPagination
{
    background: none;
}

a:active.searchPagination,
a:visited.searchPagination,
a:link.searchPagination
{
    color: #fff;
}

.searchResultInner
{
    width: 388px;
    display: block;
    float: right;
}

.searchResult a.details
{
    font-weight: bold;
    line-height: 30px;
    padding-left: 18px;
    background: url("../img/up.gif") center left no-repeat;
}

.searchResult a.details.closed {
    background: url("../img/down.gif") center left no-repeat;    
}

.searchResult .detailsText
{
    display: none;
    margin-top: 10px;
}

    .searchResult .detailsText th
    {
        font-weight: bold;
        text-align: left;
    }

/* -- Glossary ---------------------------------------- */
/*                                                      */
/*                                                      */
/*                                                      */
/* ---------------------------------------------------- */

.glossaryItem h2 {
    padding: 2px 10px 2px 40px;
    background: #efefef;
}

/* -- CONTENT ----------------------------------------- */
/*                                                      */
/*    Forms                                             */
/*                                                      */
/* ---------------------------------------------------- */

.formWrapper
{
    clear: both;
    overflow: hidden;
}

.formRow {
    background: #eee;
    padding: 10px 10px 10px 10px;
}

.formRow.plain {
    background: none;
    padding: 10px 0 5px 0;
}

.error
{
    color: red;
}

.errorPreview
{
    display: block;
    color: #9F6000;
    border: #9F6000;
    padding: 10px;
    background: #FEEFB3;
    margin: 10px 0 0 0;
}

.poll 
{
    margin:0px !important;
}

.poll input[type="radio"]
{
    width:auto;
}

.poll label
{
    display:inline;
}

.poll table, .poll td, .poll th
{
    border: none;
    padding:5px;
}

.poll h3
{
    margin-bottom:0px;
}

/* -- CONTENT ----------------------------------------- */
/*                                                      */
/*    News                                              */
/*                                                      */
/* ---------------------------------------------------- */

.newsListing h2
{
    border-top: 1px solid #ccc;
    padding-top: 15px;
    overflow: hidden;
    width: 100%;
}

.files a {
    margin-right: 6px;
    padding: 3px;
    text-decoration: none;
    font-size: 11px;
    background: #eee;
    border-radius: 4px;
}

.comments {
    
}

.articleMeta .author {
    border-bottom: 1px dotted #ccc;
}

.comment {
    margin-bottom: 12px;
    background: #eee;
    padding: 20px 20px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px; 
    overflow: hidden;  
}

.commentMeta {
    border-bottom: 1px dotted #ccc;
    font-style: italic;
    font-size: 12px;
    line-height: 40px;
    padding-left: 40px;
    background: url('/img/message.png') top left no-repeat;
}

.columnsInner .relatedArticles li {
    padding: 0 0 0 30px;
    margin: 0 0 10px 0;
    line-height: 24px;
    background: url('/img/newspaper.png') top left no-repeat;
}


/* -- CONTENT ----------------------------------------- */
/*                                                      */
/*    Gallery                                           */
/*                                                      */
/* ---------------------------------------------------- */

.slides {
    position: relative;
}

.slides .slides_container {}
		
.slides .pagination {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slides .slides_container {
	width: 960px;
	height: 400px;
	display: none;    
}

.slides_container:first-child{
	display:block;
}

.headerImage div,
.slides .slides_container div {
	width: 960px;
	height: 400px;
	display: block;
	position: relative;
    opacity:1 !important; 
}

.headerImage .slideContent,
.slides .slides_container .slideContent {
    position: absolute;
    bottom: 10px !important ;
    right: 10px;
    width: 350px;
    min-height: 100px;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.headerImage .slideContent .heading,
.slides .slides_container .slideContent .heading {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.slides .slideContent p
{
    margin-bottom: 0;
}

.slides .slideContent p a
{
    display: block;
    margin-top: 10px;
}

.slides .pagination {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.slides .pagination li {
    float: left;
}

.slides .pagination li a {
    overflow: hidden;
    height: 0;
    width: 32px;
    display: block;
    float: left;
    background: url('/img/rotator.png');
    padding-top: 32px;
}

.slides .pagination li.current a {
    background: url('/img/rotator-current.png');
}

/* Widget styling */


.widget {
    overflow: hidden;
    margin: 10px 0;
    padding: 0;
    background: none;
    border-radius: 0;
    -webkit-border-radius: 0;        
}

.widget.fill {
    padding: 10px;
}

.widget .heading {
    display: block;
}

.widget .heading {
     font-size: 24px; 
     line-height: 34px; 
     margin-bottom: 8px;
}

.widget p:last-child {
    margin-bottom: 10px;
}

.widget a {
    display: block;
    clear: both;
    font-weight: bold;
}

.widget dl {
    overflow: hidden;
    display: block;
    margin: 0 0 10px 0;
    font-size: 12px;
}

.widget dl dd,
.widget dl dt {
    float: left;
}

.widget dl dd {
    clear: right;
    width: 40%;
}

.widget dl dt {
    width: 60%;
    font-weight: bold;    
}

.widget dl dt {
    width: 30%;
}

.widget dl dd {
    width: 70%;
}

.book.widget dl dt
{
    width: 60%;
}

.book.widget dl dd
{
    width: 40%;
}

.book.widget h3
{
    margin: 10px 0 10px 0;
}

.widget {
    min-height: 150px;
}

.widget.standard {}

.book h3 {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif, Meiryo;
}

.book h3:lang(jp)
{
    font-family: Meiryo;
}

.book a.button {
    width: auto;
    padding: 5px;
}

/* General Widget image resizing -------------------- */

.widget img.right,
.widget img.left {
    width: 50%;
    height: 50%;
}

.widget img {
    width: 100%;
    height: 100%;
}


/* Themes ------------------------------------------- */

.rounded {
    -webkit-box-shadow:  1px 1px 2px 0px #888;
    box-shadow:  1px 1px 2px 0px #888;
    -webkit-border-radius: 5px;
    border-radius: 5px;    
}

.dark {
    color: #fff;
    text-shadow: 1px 1px 0px #111C24;
    filter: dropshadow(color=#111C24, offx=1, offy=1);   
}

.light
{
    color: #111C24;
    text-shadow: 1px 1px 0px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=1, offy=1);    
}

.grey {
    background: #9FA4A6;
}

.purple {
    background: #651F76;
}

.yellow {
    background: #FFFFA3;
}

.orange {
    background: #EF8200;
}

.white {
    background: #FFFFFF;
}

.red {
    background: #C73318;
}

.itinerary {
    min-height: 0 !important;
    margin-bottom: 0;
}

.itinerary input {
    margin-bottom: 5px;
}

.highlight h2,
.highlight h3,
.highlight h4,
.highlight h5,
.highlight h6,
.highlight .heading {
    text-shadow: 1px 1px 0px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=1, offy=1);   
}

.dark strong,
.dark a:link,
.dark a:visited,
.dark a:active {
    color: #fff;
}

.dark a:hover,
.dark a:focus {
    text-decoration: none;
}

.dark a.button
{
    color: #333;
}

.light strong,
.light a:link,
.light a:visited,
.light a:active {
    color: #111C24;
}

.light a:hover,
.light a:focus {
    text-decoration: none;
}


.plainGallery{
    margin-bottom: 40px;
    background: none;
}

@media only screen and (max-width: 960px)
{
 /* Slides ------------------------------------------- */

    .plainGallery {
        margin-bottom: 0;
    }

    .slides .slides_container {
        display: block;  
        width: 100%;
        height: auto;
    }

    .headerImage div,
    .slides .slides_container div {
	    width: 100%;
	    height: 100%;
    }

    .slides .slides_container div img,
    .headerImage div img {
        width: 100%;
        height: auto;
    }

    .headerImage .slideContent,
    .slides .slides_container .slideContent {
        width: 100%;
        height: auto;
        position: static;
    }

    .headerImage .slideContent .heading,
    .slides .slides_container .slideContent .heading {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .slides .pagination {
        display: none;
    }
    
}

/* Web Forms for Marketers */

.scfForm
{
    width: 440px;
    margin: 10px;
    padding: 10px;
    float: left;
    background: #fff;
    -webkit-box-shadow:  1px 1px 2px 0px #888;
    box-shadow:  1px 1px 2px 0px #888;
    -webkit-border-radius: 5px;
    border-radius: 5px;    
}

/*For Refresh Data Page*/
.RefreshData 
{
    margin-left:10px; 
    margin-bottom:20px; 
    width: 80px;
    cursor:pointer; 
}

.RefreshData:disabled 
{
    color:#999;
    cursor:auto
}
.msgHide 
{
    display:none;
}
.msgShow 
{
    margin-left:5px; 
    display:inline-block;
}

/* -- Traveller quote --------------------------------- */
/*                                                      */
/* ---------------------------------------------------- */
.TQuote 
{
    border-left: 5px solid #EEE;
    margin: 0px 0px 20px;
    padding-left: 10px;
}

.QText 
{
    font-size: 17px;
    font-family: Georgia;
    font-style: italic;
}

.QAuthor 
{
    color: #777;
}

#rightColumn 
{
    float: right;
}


/* -- Holiday promotion ------------------------------- */
/*                                                      */
/* ---------------------------------------------------- */
.promoT 
{
    font-size: 16px;
    font-weight: bold;
}